body {
    line-height: 1.5;
    background-color: black;
    color: lightgrey;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: teal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: cadetblue;
    background-color: cyan;
    text-decoration: underline cadetblue;
}

h1 {
    font-size: 200%;
    margin: 1%;
    display: table-cell;
}

nav ul {
    display: flex;
    justify-content: end;
    background-color: teal;
    min-width: 200px;
    font-weight: 600;
}

nav a {
    padding: 15px 15px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
}

nav a:hover {
    color: cadetblue;
    background-color: cyan;
    text-decoration: underline cadetblue;
}

.img-container img {
    display: block;
    max-width:300px;
    max-height: 300px;
    margin: 10px auto 0;
    text-align: center;
    box-shadow: 0px 10px 15px 10px black;
}

.img-container {
    position: relative;
    background-image: url(../images/wide.jpg);
    background-size: cover;
    height: 300px;
    width: 100;
}

.img-text {
    position: absolute;
    bottom: 2%;
    left: 50%;
    background-color: teal;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.item {
    display: flex;
    /* width: 90%; */
    margin: 2%;
    justify-content: center;
    justify-self: center;
}

.heading {
    flex-basis: 50%;
    text-align: end;
    padding: 5px;
    font-size: 35px;
    align-self: flex-start;
    justify-content: flex-end;
}
    
.content1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border-left: groove teal 5px;
    padding: 1% 5%;
    flex-basis: 150%;
    font-size: x-large;
}

.content2 {
    border-left: groove teal 5px;
    padding: 3% 5%;
    flex-basis: 150%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.main-card {
    position: relative;
    padding: 10px;
    opacity: 40%;
}

.main-card:hover {
    opacity: 100%;
}

.main-card img {
    max-width: 100%;
}

.main-card-txt {
    position: absolute;
    bottom: 8%;
    left: 4%;
    background-color: teal;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

.main-card-txt p {
    font-size: 12px;
    color: darkgray;
    text-align: center;
    text-decoration: underline;
}

.sml-cards {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
}

.sml-card {
    position: relative;
    padding: 10px;
    opacity: 40%;
}

.sml-card:hover {
    opacity: 100%;
}

.sml-card img {
    max-width: 350px;
    min-width: none;
    margin: 5px;
}

.sml-card-txt {
    position: absolute;
    bottom: 20%;
    left: 7%;
    background-color: teal;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.sml-card-txt p {
    font-size: 12px;
    color: darkgray;
    text-align: center;
    text-decoration: underline;
}

.content3 {
    display: flex;
    border-left: groove teal 5px;
    padding: 3% 5%;
    flex-basis: 150%;
}

.content3 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 100px;
    text-decoration: underline;
    margin: 10px;
    color: lightgrey;
    font-size: x-large;

}

.content3 ul li {
   
}


.content3 ul a {
    color: lightgray;
}

.content3 ul a:visited {
    color: lightgray;
    background-color: black
}

.content3 ul a:hover {
    background-color: lightskyblue;
    color: black;
}

footer {
    background-color: teal;
    text-align: center;
    color: black;
}

footer p {
    font-size: 14px;
}

/* @media screen and (min-width:992) {
    
}

@media screen and (max-width: 992px) {

}
*/
@media screen and (max-width: 768px) {
    header,
    main {
        flex-direction: column;
    }

    section {
        padding-right: 0;
    }

    aside {
        width:100%;
        text-align:center
    }
    .content2 {
        display: flex;
        flex-direction: column;
    }
}